<section *ngIf="cardDetails" class="grid">
  <article class="col-8">
    <h1 class="text-2xl">{{cardDetails.name}}</h1>
    <p *ngIf="cardDetails.hp"><strong>HP:</strong> {{cardDetails.hp}}</p>
    <p *ngIf="cardDetails.level"><strong>Level:</strong> {{cardDetails.level}}</p>
    <p *ngIf="cardDetails.evolvesFrom"><strong>Evolves From:</strong> {{cardDetails.evolvesFrom}}</p>
    <p *ngIf="cardDetails.evolvesTo"><strong>Evolves To:</strong> {{cardDetails.evolvesTo}}</p>
    <p *ngIf="cardDetails.ancientTrait">
      <strong>Ancient Trait:</strong><br />
      {{cardDetails.ancientTrait.name}}<br />
      {{cardDetails.ancientTrait.text}}
    </p>
    <hr />
    <section *ngIf="cardDetails.abilities">
      <article *ngFor="let ability of cardDetails.abilities">
        <h2 class="text-xl">{{ability.name}}</h2>
        <p *ngIf="ability.type"><strong>Type:</strong>&nbsp;{{ability.type}}</p>
        <p><small>{{ability.text}}</small></p>
      </article>
      <hr />
    </section>
    <section *ngIf="cardDetails.attacks">
      <article *ngFor="let attack of cardDetails.attacks; let i = index;">
        <h2 class="text-xl">{{attack.name}}</h2>
        <p><small>{{attack.text}}</small></p>
        <p *ngIf="attack.damage"><strong>Damage:</strong> {{attack.damage}}</p>
        <p>
          <strong class="cost-label">Cost:</strong>&nbsp;
          <span [innerHTML]="attack.cost | energyCost"></span>
        </p>
        <hr *ngIf="i !== (cardDetails.attacks.length - 1)" />
      </article>
    </section>
    <hr />
    <p *ngIf="cardDetails.flavorText"><small>{{cardDetails.flavorText}}</small></p>
  </article>
  <article class="col-4">
    <span *ngIf="cardDetails.images.large" class="card-preview">
      <img
        [src]="cardDetails.images.large"
        [alt]="cardDetails.name"
        [title]="cardDetails.name" />
    </span>
    <div *ngIf="!cardDetails.images.large" class="card-placeholder">
      <span>Missing Card Image</span>
      <img
        src="https://upload.wikimedia.org/wikipedia/en/3/3b/Pokemon_Trading_Card_Game_cardback.jpg"
        alt="Pokemon TCG Blank Card" />
    </div>
  </article>
  <article class="col-6">
    <p *ngIf="cardDetails.weaknesses">
      <strong class="cost-label">Weaknesses:&nbsp;</strong>
      <span *ngFor="let weakness of cardDetails.weaknesses">
        <span class="energy-icon {{weakness.type}}" title="{{weakness.type}}"></span>
        <span class="cost-label">{{weakness.value}}</span>
      </span>
    </p>
    <p *ngIf="cardDetails.resistances">
      <strong class="cost-label">Resistances:&nbsp;</strong>
      <span *ngFor="let resistance of cardDetails.resistances">
        <span class="energy-icon {{resistance.type}}" title="{{resistance.type}}"></span>
        <span class="cost-label">{{resistance.value}}</span>
      </span>
    </p>
  </article>
  <article class="col-6">
    <p *ngIf="cardDetails.types">
      <strong class="cost-label">Types:&nbsp;</strong>
      <span *ngFor="let type of cardDetails.types">
        <span class="energy-icon {{type}}" title="{{type}}"></span>
      </span>
    </p>
    <p *ngIf="cardDetails.retreatCost">
      <strong class="cost-label">Retreat Cost:&nbsp;</strong>
      <span *ngFor="let retreatCost of cardDetails.retreatCost">
        <span class="energy-icon {{retreatCost}}" title="{{retreatCost}}"></span>
      </span>
    </p>
    <p *ngIf="cardDetails.subtypes">
      <strong>Sub Types:</strong>
      <span *ngFor="let subType of cardDetails.subtypes; let i = index;">
        {{subType}}<span *ngIf="i !== (cardDetails.subtypes.length - 1)">,&nbsp;</span>
      </span>
    </p>
  </article>
  <article class="col-6">
    <p><strong>Artist:</strong> {{cardDetails.artist}}</p>
    <p *ngIf="cardDetails.set">
      <strong>Set:</strong><br />
      <span>Name = {{cardDetails.set.name}}<br /></span>
      <span>Series = {{cardDetails.set.series}}<br /></span>
    </p>
  </article>
  <article class="col-6">
    <p><strong>Card Number:</strong> {{cardDetails.number}}</p>
    <p><strong>Rarity:</strong> {{cardDetails.rarity}}</p>
  </article>
</section>
