$main-black: #000;
$main-white: #FFF;
$light-grey: #dee2e6;
$main-logo-width: 50px;
// Cards
$card-background: #3d3d3d;
$card-width: 225px;
$card-height: 312px;
$card-border-radius: 12px;
$card-details-font-size: 12px;
$card-details-line-height: 16px;
$card-details-power-toughness-font-size: 18px;
// Energy Icons
$energy-icon-size: 30px;
$icons-y-offset: -4px;
